.trade-button {
  width: 100%;
  position: relative;
  background: linear-gradient(
    -135deg,
    #0e2036,
    #0e2036,
    #210922,
    #210922,
    #210922
  ) !important;
  color: white !important;
  :first-child {
    width: 100%;
    position: relative;
  }
}
.trade-card {
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  width: 90vw;
  background: transparent;
  // background: linear-gradient(
  //   -135deg,
  //   #0e2036,
  //   #0e2036,
  //   #210922,
  //   #210922,
  //   #210922
  // );
  color: white;
  overflow: auto;
  margin: 0px auto;
  padding: 0px;

  .ant-tabs-tab {
    width: 50%;
    margin: 0px;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
  }

  .ant-tabs-tab-active {
    background-color: gray;
  }

  .ant-tabs-nav-list {
    width: 100% !important;
  }
}

.exchange-card {
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  width: 60vw;
  margin: 0px auto;
  padding: 0px;
  background: linear-gradient(
    -135deg,
    #0e2036,
    #0e2036,
    #210922,
    #210922,
    #210922
  );
  .ant-tabs-tab {
    width: 50%;
    margin: 0px;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
  }

  .ant-tabs-tab-active {
    background-color: gray;
  }

  .ant-tabs-nav-list {
    width: 100% !important;
  }
}
.trade-spinner {
  position: absolute;
  right: 5px;
}

.swap-button {
  font-size: 30px;
  color: gray;
}

.boardContainer {
  border-radius: 14px;
  padding: 2px;
  width: fit-content;
  // border: 2px solid #6610f2;
}
.leader-heading{
  font-size: 25px;
  margin-bottom: 20px;
}
.ant-card-body{
  padding: 15px;
}
.input-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.trade-address-info-button {
  position: absolute;
  right: 0;
  top: 0;
}

.payment-data {
  background: linear-gradient(
282.26deg
, rgba(0, 255, 240, 0.3) -0.57%, rgba(0, 71, 255, 0.3) 51.8%, rgba(186, 6, 251, 0.3) 98.98%);
  border-radius: 13.2692px;
  padding: 1px;
}
.vertical-line {
  background: linear-gradient(
0deg
, rgb(196, 196, 196), rgb(196, 196, 196));
  width: 2px;
  opacity: 0.1;
  margin: 15px 50px;
}

.oExiL {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
}
.gray-text{
  color: rgb(81, 94, 144);
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}
.top{
  color: gold;
  margin: 4px;
}
.time-btn{
  width: 90px;
  height: 40px;
  background: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-right: 10px;
  &.select{
    background  : #62149c;
  }
}
.blueTime-btn{
  width: 90px;
  height: 40px;
  background: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-right: 10px;
  &.select{
    border  : 1px solid gray;
  }
}

.inner-payment-data {
  padding: 30px 20px;
  background: linear-gradient(
326.71deg
, rgb(21, 1, 28) 20.5%, rgb(29, 41, 87) 85.61%);
  border-radius: 12.2692px;
}

@media screen and (max-width: 1200px) {
  .mobileView {
    flex-direction: column;
  }
  .exchange-card {
    width: 80vw;
  }
}

@media screen and (max-width: 700px) {
  .exchange-card {
    width: 90vw;
  }
}



